:root {
    background-image: url(/static/cyber.jpg);
    background-size: cover;
}


* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    margin-left: 200px;
    font-size: 4rem;
    color: rgb(170, 214, 216);
}

.form {
    width: 100%;
    display: flex;
    justify-content: space-between;
    color: cadetblue;
}

.input {
    display: inline-block;
    padding: 10px;
    margin: 15px;
    margin-left: 80px;
    font-size: 1.5rem;
    width: 50%;
    border: 1px solid #ccc;
    border-radius: 10px;
    font-family: inherit;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1.5rem;
    width: 20%;
    margin-left: 490px;
    border: none;
    border-radius: 8px;
    background: rgb(42, 151, 165);
    color: #ccc;
}
.btn:hover {
    color: tomato;
}

.todos {
    width: 50%;
    margin-top: 25px;
    margin-left: 80px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 5px;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1.5rem;
    border-bottom: 1px dotted black;
    color: white;
}

.todo:last-child {
    border-bottom: none;
}

.todo:hover {
    background:cadetblue;
}

.error {
 max-width: 9%;
 margin-left: 100px;
 padding: 0 20px 0 20px;
 font-size: 1.4rem;
 border: 1px solid #ff6347;
 border-radius: 5px;
 color: red;
}

.success {
 max-width: 9%;
 margin-left: 100px;
 padding: 0 20px 0 20px;
 font-size: 1.4rem;
 border: 1px solid green;
 border-radius: 5px;
 color: #fff;
 border-color: #fff;
}

.delete {
    text-decoration: none;
    font-size: 1rem;
    padding: 5px 10px;
    background: crimson;
    color: #fff;

}

.done,
.undone {
    text-decoration: none;
    color: #ccc;
}
.done {
    color: #ccc;
    text-decoration: line-through;
}
